{% extends "base.html" %}
{% load i18n %}
{% block current_page %}{{ exam.course.name }} - {{ exam.title }}{% endblock %}
{% block content %}
<div id="content">
    Exam progress:
    <progress value="22" max="100"></progress>
    {% if request.user.is_authenticated %}
    <ul>
        {% for question, choices in questions_list %}
        <li>{{ question}}
            {% for choice in choices %}
            <ul>
                <li>{{ choice.answer }}</li>
            </ul>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <p>Please login to continue</p>
    {% endif %}
</div>
<div class="break"></div>
{% endblock %}