{% extends "base.html" %}
{% load i18n %}
{% block page_class %}home-page{% endblock %}

{% block current_page %}Home page{% endblock %}
{% block content %}
        <div id="content">
           <h1>{% trans "Home" %}</h1>
            {% if request.user.is_authenticated %}
                <p>Welcome {{ user.username }}!</p>
                <a href="/course/">Open Courses list</a>
            {% else %}
                <p>Please login to continue</p>
            {% endif %}
           <p>{% trans We %}</p>
        </div>
    <div class="break"></div>
</div>
{% endblock %}
