{% extends "base.html" %}
{% load i18n %}
{% block current_page %}{{ course.name }}{% endblock %}
{% block content %}
<div id="content">
    {% if request.user.is_authenticated %}
    <h1>{{ course.name }}</h1>
    <ul>
        {% for exam in exams %}
        <li>
            <a href="/course/exam/{{ exam.id }}/">Start {{ exam.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <a href="/login/?next=/course/">Login</a>
    {% endif %}
</div>
<div class="break"></div>
{% endblock %}